@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.postInputBtn {
  @apply flex items-center space-x-2 w-1/2 hover:bg-gray-100 flex-grow justify-center p-2 rounded-xl my-1;
}

.navbarIcon {
  @apply flex items-center p-2 cursor-pointer space-x-1;
}

.footerItem {
  @apply after:mx-[0.25rem] after:content-['\00B7'] cursor-pointer;
}
